
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@media (max-width: 900px) {
	body{
		background-color: #fff;
		padding-bottom: 10%;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		color: #011648;
	}

	.header{
		margin-top: 20%;
		margin-left: 15%;
		margin-bottom: 30%;
	}

	.mainHeading{
		top: 0;
		font-size: 12vw;
		line-height: 0.8em;
		margin-top: 0%;
		margin-left: 0%;
		font-weight: 800;
		z-index: -999;
		color: #011648;
	}

	.openHours{
		top: 0;
		font-size: 3vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
	}

	.img{
		width: 83vw;
		height: 80vw;
		margin-left: 0%;
		margin-bottom: 4%;
	}

	.headingHighlight{
		color: #011648;
	}

	.headingHighlightRed{
		color: #E87474;
	}

	.mainImageSection{

	}

	.subHeading1{
		font-size: 12vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
		margin-bottom: 5%;
	}

	.menu1, .menu2, .menu3{
		width: 90vw;
		margin-top: 5%;
		margin-left: 0.5%;
		margin-right: 0.5%;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.section{
		margin-top: 0%;
		margin-bottom: 30%;
	}

	.reviews-section{
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 20%;
	}

	.yelp-review{
		width: 90%;
		margin-bottom: 20%;
		margin-left: 5%;
	}

	.yelp-link{
		text-decoration: none;
		top: 0;
		font-size: 6vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 90%;
	}

	.yelp-logo{
		width: 10vw;
		height: 10vw;
	}

	.ig-link{
		text-decoration: none;
		top: 0;
		font-size: 6vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 90%;
	}

	.ig-logo{
		width: 5vw;
		height: 5vw;
		margin-right: 1%;
	}

	.review-image{
		border-radius: 500px;
		width: 30vw;
		height: 30vw;
	}

	.review-paragraph{
		font-size: 8vw;
	}

	.instagramImg{
		width: 40vw;
		height: 40vw;
	}

	.flex-grid {
	  display: block;
	}

	.col {
		width: 100%;
	}

	.mapEmbed{
		width: 100%;
		height: 50%;
	}

	.img1, .img2, .img3, .img4, .img5, .img6{
		width: 86vw;
		height: 98vw;
		margin: 5%;
		object-fit: cover;
		-webkit-box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
		-moz-box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
		box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
	}

	.footerText{
		font-size: 3vw;
	}

	footer{
		padding-top: 15%;
	}
	
}

@media (min-width: 900px) {

	body{
		background-color: #fff;
		padding-bottom: 10%;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		color: #011648;
	}

	.header{
		margin-top: 5%;
	}

	.mainHeading{
		top: 0;
		font-size: 12vw;
		line-height: 0.8em;
		margin-top: 10%;
		margin-left: 8%;
		font-weight: 800;
		z-index: -999;
		color: #fff;
		text-shadow: -2px 0 #011648, 0 2px #011648, 2px 0 #011648, 0 -2px #011648, 12px 12px 20px rgba(150, 150, 150, 1);
	}

	.openHours{
		top: 0;
		font-size: 3vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
	}

	.img{
		width: 41vw;
		height: 40vw;
		margin-left: 20%;
		margin-bottom: 4%;
	}

	.headingHighlight{
		color: #011648;
	}

	.headingHighlightRed{
		color: #E87474;
	}

	.mainImageSection{

	}

	.subHeading1{
		font-size: 4vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
		margin-bottom: 5%;
	}

	.menu1, .menu2, .menu3{
		width: 28.5vw;
		margin-top: 1%;
		margin-left: 0.5%;
		margin-right: 0.5%;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.section{
		margin-top: 0%;
		margin-bottom: 10%;
	}

	.reviews-section{
		margin-left: 7%;
		margin-right: 7%;
		margin-bottom: 10%;
	}

	.yelp-review{
		width: 90%;
		margin-bottom: 3%;
		margin-left: 5%;
	}

	.yelp-link{
		text-decoration: none;
		top: 0;
		font-size: 3vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
	}

	.yelp-logo{
		width: 5vw;
		height: 5vw;
	}

	.ig-link{
		text-decoration: none;
		top: 0;
		font-size: 3vw;
		line-height: 1.2em;
		font-weight: 300;
		z-index: -999;
		color: #011648;
		width: 50%;
	}

	.ig-logo{
		width: 2.5vw;
		height: 2.5vw;
		margin-right: 1%;
	}

	.review-image{
		border-radius: 500px;
		width: 8vw;
		height: 8vw;
	}

	.review-paragraph{
		font-size: 2vw;
	}

	.instagramImg{
		width: 40vw;
		height: 40vw;
	}

	.flex-grid {
	  display: flex;
	}

	.col {
	  flex: 1;
	}

	.mapEmbed{
		width: 70%;
		height: 70%;
	}

	.img1, .img2, .img3, .img4, .img5, .img6{
		width: 30vw;
		height: 38vw;
		margin: 5%;
		object-fit: cover;
		-webkit-box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
		-moz-box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
		box-shadow: 10px 10px 22px -10px rgba(189,189,189,1);
	}

	.footerText{
		font-size: 1vw;
	}

	footer{
		padding-top: 5%;
	}
	
}

